Repository AbuSabreen/metamask-mobile, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MetaMask/mobile-devs, @MetaMask/design-system-engineers, @MetaMask/mobile-platform, @MetaMask/ramp, @MetaMask/confirmations-ux, @MetaMask/sdk-devs

chore: update depcheckrc
  .depcheckrc.yml
Owners: @MetaMask/mobile-devs

deps: react-native-aes-crypto-forked -> @metamask/react-native-aes-crypto
  package.json
  yarn.lock
Owners: @MetaMask/mobile-devs

ios: update react-native module paths in xcodeproj
  ios/MetaMask.xcodeproj/project.pbxproj
Owners: @MetaMask/mobile-devs

deps: @metamask/react-native-crypto-aes@1.2.1->^1.2.2
  package.json
  patches/@metamask+react-native-aes-crypto+1.2.1.patch
  yarn.lock
Owners: @MetaMask/mobile-devs, @MetaMask/mobile-platform

fix: rename react-native-aes-crypto-forked patch
  patches/@metamask+react-native-aes-crypto+1.2.1.patch
Owners: @MetaMask/mobile-platform

fix: update react-native config with @metamask/react-native-crypto dep
  react-native.config.js
Owners: @MetaMask/mobile-devs

fix(deps): eth-json-rpc-filters@4.2.2 -> @metamask/eth-json-rpc-filters@^7.0.0
  app/core/BackgroundBridge/BackgroundBridge.js
  app/core/Snaps/SnapBridge.ts
  package.json
  yarn.lock
Owners: @MetaMask/mobile-devs

deps: json-rpc-engine@^6.1.0 -> @metamask/json-rpc-engine@^7.1.0
  app/core/BackgroundBridge/BackgroundBridge.js
  app/core/RPCMethods/RPCMethodMiddleware.test.ts
  app/core/RPCMethods/RPCMethodMiddleware.ts
  app/core/RPCMethods/eth_sendTransaction.test.ts
  app/core/RPCMethods/eth_sendTransaction.ts
  app/core/RPCMethods/wallet_watchAsset.ts
  app/core/SanitizationMiddleware.ts
  app/core/Snaps/SnapBridge.ts
  app/core/WalletConnect/extractApprovedAccounts.ts
  package.json
Owners: @MetaMask/mobile-devs, @MetaMask/sdk-devs, @MetaMask/mobile-platform

chainId is now hex string, not number
  app/core/RPCMethods/RPCMethodMiddleware.ts
  app/core/WalletConnect/WalletConnectV2.ts
Owners: @MetaMask/sdk-devs, @MetaMask/mobile-platform, @MetaMask/mobile-devs

Update JsonRpcRequest typings
  app/core/RPCMethods/RPCMethodMiddleware.test.ts
  app/core/RPCMethods/eth_sendTransaction.test.ts
  app/core/RPCMethods/eth_sendTransaction.ts
  app/core/RPCMethods/wallet_watchAsset.ts
  app/core/SanitizationMiddleware.ts
  app/core/WalletConnect/extractApprovedAccounts.ts
Owners: @MetaMask/mobile-devs

fix(test): test for error cause message in RPCMethodMIddleware
  app/core/RPCMethods/RPCMethodMiddleware.test.ts
Owners: @MetaMask/mobile-devs

chore(test): eth_sendTransaction test type workarounds
  app/core/RPCMethods/eth_sendTransaction.test.ts
Owners: @MetaMask/mobile-devs

fixup: console.error in test
  app/core/RPCMethods/RPCMethodMiddleware.test.ts
Owners: @MetaMask/mobile-devs

Comment off logger intercepting errors
  app/util/Logger/index.ts
Owners: @MetaMask/mobile-devs

Bump detox and add open-rpc coverge package
  package.json
  yarn.lock
Owners: @MetaMask/mobile-devs

Run script on detox element
  e2e/specs/window-json-rpc-test/json-rpc-coverage.spec.js
Owners: @MetaMask/mobile-devs

open rpc test coverage tool implement
  e2e/specs/window-json-rpc-test/json-rpc-coverage.spec.js
Owners: @MetaMask/mobile-devs

Getting a generated report, still needs manual clicking help through the sim
  e2e/specs/window-json-rpc-test/json-rpc-coverage.spec.js
Owners: @MetaMask/mobile-devs

Adds mockserver, error popups require manually closing for tests to click behind confirmations.
  e2e/fixtures/fixture-helper.js
  e2e/specs/window-json-rpc-test/json-rpc-coverage.spec.js
  html-report/index.html
Owners: @MetaMask/mobile-devs

Have test running and test generation
  e2e/pages/Settings/NetworksView.js
  e2e/pages/modals/ConnectModal.js
  e2e/selectors/Modals/ConnectAccountModal.selectors.js
  e2e/specs/window-json-rpc-test/json-rpc-coverage.spec.js
  html-report/index.html
  package.json
  yarn.lock
Owners: @MetaMask/mobile-devs

Fixed test-dapp dep
  .gitignore
  e2e/specs/window-json-rpc-test/json-rpc-coverage.spec.js
  html-report/index.html
  package.json
  yarn.lock
Owners: @MetaMask/mobile-devs

Fixed commented console.warn
  app/util/Logger/index.ts
Owners: @MetaMask/mobile-devs

Fix dedupe
  yarn.lock
Owners: @MetaMask/mobile-devs

fix: add migration for linea goerli
  android/.project
  android/.settings/org.eclipse.buildship.core.prefs
  app/components/Views/Settings/NetworksSettings/__snapshots__/index.test.tsx.snap
  app/store/migrations/042.test.ts
  app/store/migrations/042.ts
  app/store/migrations/index.ts
  app/util/networks/index.js
  app/util/networks/index.test.ts
Owners: @MetaMask/mobile-devs

fix: only enable non confirmation rules
  e2e/specs/window-json-rpc-test/json-rpc-coverage.spec.js
  index.js
  package.json
  yarn.lock
Owners: @MetaMask/mobile-devs

Added queue system for api spec tests to handle detox simultaneous actions
  e2e/specs/window-json-rpc-test/helpers.js
  e2e/specs/window-json-rpc-test/json-rpc-coverage.spec.js
Owners: @MetaMask/mobile-devs

fix: add switchEthereumChain and personal_sign examples, refactor api spec tests to get more of them passing
  e2e/specs/window-json-rpc-test/json-rpc-coverage.spec.js
Owners: @MetaMask/mobile-devs

fix: added examples rule and removed console logs
  e2e/specs/window-json-rpc-test/helpers.js
  e2e/specs/window-json-rpc-test/json-rpc-coverage.spec.js
Owners: @MetaMask/mobile-devs

fix: skip revokePermission related methods
  e2e/specs/window-json-rpc-test/json-rpc-coverage.spec.js
Owners: @MetaMask/mobile-devs

fix: create nft auto detection modal and remove nft polling logic
  app/actions/security/index.ts
  app/actions/security/state.ts
  app/components/Nav/App/index.js
  app/components/UI/CollectibleContracts/index.js
  app/components/Views/NFTAutoDetectionModal/NFTAutoDetectionModal.styles.ts
  app/components/Views/NFTAutoDetectionModal/NFTAutoDetectionModal.tsx
  app/components/Views/Wallet/index.tsx
  app/constants/navigation/Routes.ts
  app/core/Engine.ts
  app/images/wallet-alpha.png
  app/reducers/collectibles/index.js
  app/reducers/security/index.ts
  app/selectors/nftController.ts
  patches/@metamask+assets-controllers+26.0.0.patch
Owners: @MetaMask/mobile-devs, @MetaMask/mobile-platform

fix: use custom runner for running api-specs to get rid of jest wrapping
  .detoxrc.js
  e2e/api-specs/helpers.js
  e2e/api-specs/json-rpc-coverage.js
  e2e/api-specs/run-api-spec-tests.js
  e2e/fixtures/fixture-helper.js
  e2e/specs/window-json-rpc-test/json-rpc-coverage.spec.js
  package.json
  yarn.lock
Owners: @MetaMask/mobile-devs

fix: linting
  e2e/api-specs/json-rpc-coverage.js
Owners: @MetaMask/mobile-devs

fix: added 1s pause to allow for cleanup and open html reporter when available
  e2e/api-specs/json-rpc-coverage.js
Owners: @MetaMask/mobile-devs

log web element
  e2e/utils/Gestures.js
Owners: @MetaMask/mobile-devs

New Crowdin translations by Github Action
  locales/languages/de.json
  locales/languages/el.json
  locales/languages/es.json
  locales/languages/fr.json
  locales/languages/hi.json
  locales/languages/id.json
  locales/languages/ja.json
  locales/languages/ko.json
  locales/languages/pt.json
  locales/languages/ru.json
  locales/languages/tl.json
  locales/languages/tr.json
  locales/languages/vi.json
  locales/languages/zh.json
Owners: @MetaMask/mobile-devs

Update README.md
  README.md
Owners: @MetaMask/mobile-devs

Update README.md
  README.md
Owners: @MetaMask/mobile-devs

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*                                    @MetaMask/mobile-devs
app/component-library/               @MetaMask/design-system-engineers @MetaMask/mobile-platform
patches/                             @MetaMask/mobile-platform
bitrise.yml                          @MetaMask/mobile-platform
app/components/UI/Ramp/              @MetaMask/ramp @MetaMask/mobile-platform
app/reducers/fiatOrders/             @MetaMask/ramp @MetaMask/mobile-platform
app/components/Views/confirmations   @MetaMask/confirmations-ux @MetaMask/mobile-platform
ppom                                 @MetaMask/confirmations-ux @MetaMask/mobile-platform
app/core/DeeplinkManager   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/core/SDKConnect   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/actions/sdk   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/reducers/sdk   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/components/Views/SDK   @MetaMask/sdk-devs @MetaMask/mobile-platform
app/core/RPCMethods/RPCMethodMiddleware.ts   @MetaMask/sdk-devs @MetaMask/mobile-platform
